<h1>Gerenciador de Tarefas - Total: {{ tarefas.length }}</h1>

<input type="text" [(ngModel)]="novaTarefa" placeholder="Digite uma tarefa" />
<button (click)="adicionarNovaTarefa()">Adicionar</button>
<button (click)="exibirLista = !exibirLista">
  {{ exibirLista ? 'Ocultar Lista' : 'Exibir Lista' }}
</button>

<ul *ngIf="exibirLista">
  <li *ngFor="let tarefa of tarefas">
    <span [ngClass]="{'tarefa-concluida': tarefa.concluida}"
          [ngStyle]="{'color': tarefa.concluida ? 'green' : 'black'}">
      {{ tarefa.nome }}
    </span>
    <button (click)="tarefaConcluida(tarefa)" [disabled]="tarefa.concluida">
      Concluir
    </button>
  </li>
</ul>
